* {
    box-sizing: border-box;
}
body {
background-color: #621402;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}
.header {
    background-image: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url(../img/bg.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
}
.navbar {
    
    display: flex;
    align-items: center;
    padding: 30px 0 30px;
}
.menu__link{
    color:#fff;
    text-decoration: none;
}
.menu {
    list-style: none;
    display: flex;
    margin: 0;
}
.menu__item{
    margin-right: 25px;
}
.menu__item:last-child{
    margin-right: 0px;
}
.container {
    max-width:1170px;
    margin: 0 auto;
}
.user{
  margin-left: auto;
  color:#fff;
  display: flex;
  align-items:center;  
}
.user__photo{
    margin-left: 11px;
}
.logo{
    margin-right: 30px;
}
.film {
    margin-top: 60px;
    display: flex;
    align-items:center;
}
.film__title__small {
    font-size: 24px;
    line-height: 150%;
    opacity: 0.5;
    margin-bottom: 11px;
}
.film__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 11px 0 23px;
}
.film__description {
    font-size: 16px;
    line-height: 150%;
    max-width: 570px;
}
.film__trailer {
    margin: auto;
}
.film__details{
    display: flex;
    align-items: center;
    margin-top: 55px;
}
.time{
    display: flex;
    align-items:center;
}
.time__icon{
    margin-right: 14px;
}
.rating {
    display: flex;
    align-items:center;
}
.rating__icon {
    margin-right: 12px;
    margin-left: 34px;
}
.rating__counter {
}
.rating__current {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}
.session {
    margin-top: 68px;
    padding-top: 46px;
    padding-bottom: 63px; 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.session__date_block {
    display: flex;
}
.session_date_item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.3s;
}
.session_date_item:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #621402;
    background: #FE8E05;
    cursor: pointer;
}
.session__label{
    margin-bottom: 20px;
}
.session_month {
    font-size: 16px;
    line-height: 19px;
}
.session_day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}
.session_week {
    font-size: 19px;
    line-height: 22px;
}
.select-cinema {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);    
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    min-width: 470px;
    height: 60px;
    margin-top: 33px;
}
.select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);    
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    width: 108px;
    height: 60px;
    margin-top: 33px;
}
option {
   background:#621402;
}
.scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
    margin-bottom: 40px;
}
.scheme path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
}
.scheme path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5);
}
.scheme path.booked, .scheme path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor:not-allowed;
}
.scheme path.active {
    fill: rgba(223, 124, 11, 1);
}
.legend {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width:1024px;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 35px;
}
.legend_label {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px;
    
}
.legend path.active, .legend path.active:hover {
    fill: rgba(223, 124, 11, 1);
}
.price {
    padding:35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;

}
.price__label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}
.price__total {
    font-size: 52px;
    line-height: 61px;
}
.ruble {
    font-size: 52px;
    line-height: 61px;
}
.button {
    display: block;
    background: #FE8E05;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
}
.button-pay {

}