@media (min-width: 1201px) {
    .container {
        max-width: 80%;
    }
    .select-cinema {
        width: 100%;
    }
    .scheme_svg {
        display: block;
        width: 960px;
        margin: auto;
    }     
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .select-cinema {
        width: 100%;
    }
    .scheme_svg {
        width: 960px;
    }   
}
@media (max-width: 990px) {
    .container {
        max-width: 750px;
    }
    .scheme_svg {
        width: 750px;
        height: 520px;
    }
    .session {
        flex-wrap: wrap;
    }
    .session__date {
        flex-basis: 70%;
        margin-bottom: 20px;
    }  
    .session__time {
        order: 2;
        margin-right: 10px;
    }
    .session__cinema {
        order: 3;        
    }
    .select-cinema {
        margin-top: 0;
    }
    .menu__item {
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .scheme_svg {
        width: 560px;
        height: 450px;
        
    }
    .menu {        
        position: absolute;
        left: 0px;
        top: 45px;
        flex-direction: column;
        background-color: rgba(10, 10, 10, 0.5);
        z-index: 3;
        padding: 10px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opacity 1s, transform 0.3s;    
    }
    .m_menu {
        display: block;
    }    
    .m_menu_img {
        display: block;
        width: 50px;
        height: 50px;        
    }
    .menu__item {
        margin-bottom: 10px;
    }
    .menu__item:nth-child(5) {
        margin-bottom: 0;
    }
    .m_menu {
        background: transparent;
        border: 0;
    }
    .is_open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    .film__description {
        margin-right: 20px;
        font-size: 12px;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 420px;
    }
    .scheme_svg {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: 70%;       
    }
    .film {
        flex-direction: column;
    }
    .film__description {
        text-align: justify;
    }
    .film__details {
        margin-top: 10px;
    }
    .film__trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 10px;
    }
    .session {
        margin-top: 10px;
        padding: 10px 10px 30px 10px;
    }
    .session__date {
        margin-bottom: 0;
    }
    .session__date_block {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center
    }
    .session_date_item {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .select {
        margin-top: 10px;
    }
    .session__label {
        margin-top: 20px;
    }
    .button {
      padding: 12px 25px;
      font-size: 14px;  
    }
    .price__label {
        font-size: 12px;
        line-height: 15px;
    }
    .legend {
        flex-direction:column;
        align-items:flex-start;
    }
    .header {
        padding-bottom: 20px;
    }
}
